AGENTolamaCommand
ai:find:funcCommand
AIaddCommand
AIfindFuncCommand
AIlistCommand
CODErenamePrefix
COMMANDaddCommand
COMMANDremoveCommand
CPPcondenseCommand
FINDemptyFuncCommand
FINDlinksCommand
FLOWdeleteCommand
FLOWeditCommand
FLOWlistcCommand
FLOWlistCommand
FUNCc
FUNCluaC
FUNCluaCHelper
FUNCluaCommand
GITcloneGithubCommand
HELLOworldCommand
INCLUDEfindCommand
INCLUDEreduce
LIBregenerate
LUArequireCommand
MAKEbuild
MAKEclean
MAKEmemoryCheckCommand
MDlinkFindCommand
MUSICplayCommand
TESTtest
VIMinvokeCommand