AGENTolamaCommand
AIaddCommand
AIlistCommand
CODErenamePrefix
COMMANDaddCommand
COMMANDremoveCommand
CPPcondenseCommand
FLOWdeleteCommand
FLOWeditCommand
FLOWlistcCommand
FLOWlistCommand
FUNCc
FUNCluaC
FUNCluaCHelper
FUNCluaCommand
GITcloneGithubCommand
INCLUDEfindCommand
INCLUDEreduce
LIBregenerate
LUArequireCommand
MAKEbuild
MAKEclean
MAKEmemoryCheckCommand
MDlinkFindCommand
MUSICplayCommand
TESTtest
VIMinvokeCommand