AIaddCommand
AIlistCommand
CODErenamePrefix
COMMANDaddCommand
COMMANDremoveCommand
FLOWdeleteCommand
FLOWeditCommand
FLOWlistcCommand
FLOWlistCommand
FLOWrootCommand
FUNCc
FUNCluaC
FUNCluaCHelper
FUNCluaCommand
function:divideCommand
FUNCTIONdivideCommand
INCLUDEfindCommand
INCLUDEreduce
LIBregenerate
MAKEbuild
MAKEclean
MDlinkFindCommand
MUSICplay
TESTtest